.Banner.about-page{
    box-shadow: none;

    &:before {
        background-image: url('../assets/Mountain.png');
        filter: brightness(100%);
    }

    p {
        display: none;
    }
}