$kasa-pink: #FF6060;
$kasa-black: #000000;
$kasa-font: 'Montserrat', sans-serif;

.collapse-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    cursor: pointer;
    user-select: none;
    font-family: $kasa-font;
    width: 100%;

    h2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 24px;
        font-weight: 700;
        color: white;
        background-color: $kasa-pink;
        padding: 10px 20px 10px 15px;
        width: 80%;
        border-radius: 5px;
    }

    p {
        display: flex;
        width: min(1240px, 90%);
        color: black;
        font-size: 18px;
        font-weight: 500;
        padding: 10px 20px 10px 15px;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.2;
    }
}