$kasa-pink: #FF6060;
$kasa-font: 'Montserrat', sans-serif;

h1 {
    color: $kasa-pink;
    font-size: 12em;
    text-align: center;
    font-weight: 600;
    font-family: $kasa-font
}

p {
    color: $kasa-pink;
    font-size: 2em;
    text-align: center;
    font-weight: 500;
    font-family: $kasa-font
}