$kasa-pink: #FF6060;

h1 {
    color: $kasa-pink;
    font-size: 12em;
    text-align: center;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

p {
    color: $kasa-pink;
    font-size: 2em;
    text-align: center;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}