$kasa-black: #000000;
$kasa-pink: #FF6060;
$kasa-font: 'Montserrat', sans-serif;
$dark: #f6f6f6;
$white: #ffffff;

body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  max-width: 1440px;
  min-width: 320px;
  box-sizing: border-box;
}