$kasa-pink: #ff6060;

    .container_loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    .loader {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        position: relative;

        &::before {
        content: "";
        box-sizing: border-box;
        position: absolute;
        inset: 0px;
        border-radius: 50%;
        border: 5px solid $kasa-pink;
        }
    }
}