$kasa-black: #000000;
$kasa-pink: #FF6060;
$kasa-font: "Montserrat", sans-serif;


.NavBar {
    width: min(1240px, 80%);
    height: auto;
    margin: 50px auto 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        display: inline-block;
        list-style: none;
    }

    ul li {
        display: inline-flex;
        margin-right: 20px;
    }


    &--logo {
        width: 210px;
        height: 68px;
    }

    a {
        display: inline-block;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        color: $kasa-black;
        font-size: 16px;
        display: flex;
        align-items: flex-end;
        font-size: 1.5em;
        font-weight: 500;
        text-decoration: none;
        width: 120px;

        font-family: $kasa-font;

        &:hover {
            color: $kasa-pink;
        }

    }

    &--nav ul {
        display: inline-block;
        gap: 10px;
    }

    &--nav li {
        display: flex;
        align-items: center;
    }

    .NavBar--active {
        text-decoration: underline;
    }
}
