
.NavBar {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.kasa-logo {
    display: flex;
    padding: 40px;
    pointer-events: none;
    color: black;
}

.navLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.kasa-nav {
    font-family: "Montserrat", sans-serif;
    display: flex;
    align-items: flex-end;
    font-size: 1.5em;
    font-weight: 500;
    color: black;
    width: 120px;
    padding: 40px;
}

