.star--active, .star--inactive {
    width: 36px;
    height: 36px;
    padding:  0 6px
}

.star--active {
    fill: #FF6060;
}

.star--inactive {
    fill: #E3E3E3;
}

@media screen and (max-width: 425px){
    .star--active, .star--inactive {
        width: 18px;
        height: 18px;
        padding:  0 3px
    }
    
}